*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-color: yellow;
}
html {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(34, 34, 34);
    height: 100vh;
    padding: 35px;
}

.corner{
    position: relative;
}

.corner::after, .corner::before{
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    
}

.corner::before{

    
    left: -10px;
    top: -10px;
    border-left: 2px solid white;
    border-top: 2px solid white;
}
.corner::after{

    
    right: -10px;
    bottom: -10px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}









