*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-color: yellow;
}
html {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(34, 34, 34);
    height: 100vh;
    padding: 35px;
}




